In [13]:
using Pkg
Pkg.add("JuliaDB")

 Resolving package versions...
  Updating `~/.julia/Project.toml`
 [no changes]
  Updating `~/.julia/Manifest.toml`
 [no changes]

In [3]:
using JuliaDB

In [15]:
t = table(1:10, randn(10), rand(Bool, 10); names = [:x, :y, :z])

Table with 10 rows, 3 columns:
x   y          z
────────────────────
1   -0.858974  false
2   -0.876057  true
3   0.560008   false
4   -0.695889  false
5   -2.01263   false
6   0.672856   true
7   -0.408816  false
8   0.503074   false
9   -1.27202   false
10  -1.20704   true

In [16]:
select(t,2)[2]

-0.8760569362103086

# --------------------------------------------------

In [4]:
id = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]

30-element Array{Int64,1}:
  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
  ⋮
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30

In [5]:
food = ["carrot", "ground nut", "bread", "sweet potato", "milk", "orange", "watermelon", "fish (roasted)", "mushroom", "peas", "brussels", "tomatoe", "banana", "apple", "grapefruit", "pasta", "rice", "spinach", "chicken (fried)", "chicken (roasted)", "bacon", "duck (roasted)", "egg", "fish (fried)", "tofu", "beef", "yogurt", "cottage cheese", "cheese cheddar", "barley"]

30-element Array{String,1}:
 "carrot"
 "ground nut"
 "bread"
 "sweet potato"
 "milk"
 "orange"
 "watermelon"
 "fish (roasted)"
 "mushroom"
 "peas"
 "brussels"
 "tomatoe"
 "banana"
 ⋮
 "chicken (fried)"
 "chicken (roasted)"
 "bacon"
 "duck (roasted)"
 "egg"
 "fish (fried)"
 "tofu"
 "beef"
 "yogurt"
 "cottage cheese"
 "cheese cheddar"
 "barley"

In [6]:
total_fat = [0.24, 11.48, 0.58, 0.3, 0.1, 0.48, 0.16, 4.1, 0.6, 0.4, 0.1, 0.2, 0.4, 0.2, 0.3, 6.9, 0.4, 0.5, 15.3, 3.6, 31., 28.4, 0, 13.8, 12.2, 28.4, 3.8, 9, 33.1, 0.7]

30-element Array{Float64,1}:
  0.24
 11.48
  0.58
  0.3
  0.1
  0.48
  0.16
  4.1
  0.6
  0.4
  0.1
  0.2
  0.4
  ⋮
 15.3
  3.6
 31.0
 28.4
  0.0
 13.8
 12.2
 28.4
  3.8
  9.0
 33.1
  0.7

In [7]:
sodium = [33.6, 1.5, 124.8, 15, 8.1, 3.2, 2.4, 73, 26.6, 6.4, 4.4, 6.2, 1.2, 0, 0, 77.1, 1.6, 126, 99, 74, 188, 59, 358, 122, 2.4, 682, 171, 764, 621, 4.7]

30-element Array{Float64,1}:
  33.6
   1.5
 124.8
  15.0
   8.1
   3.2
   2.4
  73.0
  26.6
   6.4
   4.4
   6.2
   1.2
   ⋮
  99.0
  74.0
 188.0
  59.0
 358.0
 122.0
   2.4
 682.0
 171.0
 764.0
 621.0
   4.7

In [8]:
cholesterol = [0, 0, 0, 0, 3, 0, 0, 0.29, 0, 0, 0, 0, 0, 0, 0, 5.1, 0, 0, 93, 85, 8.8, 84, 0, 59, 0, 56, 14.7, 35.7, 105, 0]

30-element Array{Float64,1}:
   0.0
   0.0
   0.0
   0.0
   3.0
   0.0
   0.0
   0.29
   0.0
   0.0
   0.0
   0.0
   0.0
   ⋮
  93.0
  85.0
   8.8
  84.0
   0.0
  59.0
   0.0
  56.0
  14.7
  35.7
 105.0
   0.0

In [9]:
saturated_fat = [0, 1.55, 0.2, 0, 0.60, 0, 0, 34, 0, 0.1, 0, 0, 0.1, 0, 0, 1.8, 0.1, 0.1, 4.1, 1, 1, 9.7, 0, 3.2, 1.8, 11.7, 2.5, 3.6, 21.1, 0.1]

30-element Array{Float64,1}:
  0.0
  1.55
  0.2
  0.0
  0.6
  0.0
  0.0
 34.0
  0.0
  0.1
  0.0
  0.0
  0.1
  ⋮
  4.1
  1.0
  1.0
  9.7
  0.0
  3.2
  1.8
 11.7
  2.5
  3.6
 21.1
  0.1

In [10]:
calcium = [28, 4.25, 12.25, 24, 25, 49.6, 5.6, 40, 4.4, 67.2, 7.6, 12.3, 5.9, 0.1, 50.6, 56.5, 15.8, 245, 26, 15, 0.9, 11, 17.4, 50, 421, 12, 448, 174, 721, 17.3]

30-element Array{Float64,1}:
  28.0
   4.25
  12.25
  24.0
  25.0
  49.6
   5.6
  40.0
   4.4
  67.2
   7.6
  12.3
   5.9
   ⋮
  26.0
  15.0
   0.9
  11.0
  17.4
  50.0
 421.0
  12.0
 448.0
 174.0
 721.0
  17.3

In [11]:
magnesium = [9.6, 47.75, 13.25, 14, 2.4, 17.6, 8, 43, 26.6, 41.6, 4.2, 13.5, 31.9, 6.4, 20.7, 54, 19, 157, 25, 29, 45.8, 16, 24.6, 43, 64.7, 10, 41.7, 16.8, 28, 34.5]

30-element Array{Float64,1}:
  9.6
 47.75
 13.25
 14.0
  2.4
 17.6
  8.0
 43.0
 26.6
 41.6
  4.2
 13.5
 31.9
  ⋮
 25.0
 29.0
 45.8
 16.0
 24.6
 43.0
 64.7
 10.0
 41.7
 16.8
 28.0
 34.5

In [12]:
fiber = [2.48, 2.33, 1.55, 3, 0, 2.72, 0.29, 0, 3.4, 4.5, 0.5, 1.5, 3.1, 2.1, 3.7, 6.7, 0.6, 4.3, 0, 0, 0, 0, 0, 0, 0.7, 0, 0, 0, 0, 6]

30-element Array{Float64,1}:
 2.48
 2.33
 1.55
 3.0
 0.0
 2.72
 0.29
 0.0
 3.4
 4.5
 0.5
 1.5
 3.1
 ⋮
 0.0
 0.0
 0.0
 0.0
 0.0
 0.0
 0.7
 0.0
 0.0
 0.0
 0.0
 6.0

In [13]:
potassium = [212.8, 181.75, 56.5, 264, 31, 265.6, 87.2, 549, 622, 384, 66.6, 292, 422, 145, 311, 812, 55.3, 839, 251, 256, 45.8, 204, 315, 155, 178, 155, 573, 218, 98, 146]

30-element Array{Float64,1}:
 212.8
 181.75
  56.5
 264.0
  31.0
 265.6
  87.2
 549.0
 622.0
 384.0
  66.6
 292.0
 422.0
   ⋮
 251.0
 256.0
  45.8
 204.0
 315.0
 155.0
 178.0
 155.0
 573.0
 218.0
  98.0
 146.0

In [14]:
calories = [28, 144.5, 58.5, 90, 7, 72, 23.2, 151, 63.6, 67.2, 7.6, 22.1, 105, 77.3, 96.6, 224, 205, 41.4, 288, 165, 41.3, 337, 107, 228, 122, 313, 154, 206, 403, 193]

30-element Array{Float64,1}:
  28.0
 144.5
  58.5
  90.0
   7.0
  72.0
  23.2
 151.0
  63.6
  67.2
   7.6
  22.1
 105.0
   ⋮
 288.0
 165.0
  41.3
 337.0
 107.0
 228.0
 122.0
 313.0
 154.0
 206.0
 403.0
 193.0

In [15]:
weight = [80, 25, 25, 100, 20, 160, 80, 100, 148, 160, 21, 123, 118, 161, 230, 257, 158, 180, 100, 100, 8, 100, 28, 100, 122, 100, 245, 210, 100, 157]

30-element Array{Int64,1}:
  80
  25
  25
 100
  20
 160
  80
 100
 148
 160
  21
 123
 118
   ⋮
 100
 100
   8
 100
  28
 100
 122
 100
 245
 210
 100
 157

In [16]:
cost = [0.3, 1.99, 0.16, 0.39, 0.12, 0.7, 0.6, 7.99, 1.18, 1.03, 0.14, 1.35, 0.53, 0.37, 0.8, 2.03, 0.93, 1.6, 1.89, 1.89, 0.17, 1.595, 0.4, 7.99, 2.44, 1.19, 2.93, 4.11, 0.49, 0.58]

30-element Array{Float64,1}:
 0.3
 1.99
 0.16
 0.39
 0.12
 0.7
 0.6
 7.99
 1.18
 1.03
 0.14
 1.35
 0.53
 ⋮
 1.89
 1.89
 0.17
 1.595
 0.4
 7.99
 2.44
 1.19
 2.93
 4.11
 0.49
 0.58

In [17]:
food_table = table(id, food, total_fat, sodium, cholesterol, saturated_fat, calcium, magnesium, fiber, potassium, calories, weight, cost; names = [:id, :food, :total_fat, :sodium, :cholesterol, :saturated_fat, :calcium, :magnesium, :fiber, :potassium, :calories, :weight, :cost])

Table with 30 rows, 13 columns:
Columns:
#   colname        type
──────────────────────────
1   id             Int64
2   food           String
3   total_fat      Float64
4   sodium         Float64
5   cholesterol    Float64
6   saturated_fat  Float64
7   calcium        Float64
8   magnesium      Float64
9   fiber          Float64
10  potassium      Float64
11  calories       Float64
12  weight         Int64
13  cost           Float64

In [18]:
select(food_table, 2)[3]

"bread"

In [19]:
select(food_table, 3)[3]

0.58

In [20]:
select(food_table, 4)[3]

124.8

In [21]:
food_table[1].fiber

2.48